.idea
__pycache__

# general
nturgbd_metrabs_2
*.mp4*
wandb
checkpoints

# modules hpe
modules/hpe/modules/engines/*
modules/hpe/modules/numpy/*
modules/hpe/modules/onnxs/*
modules/hpe/modules/raws/*
modules/hpe/modules/signatured/*
modules/hpe/assets/*

# ar
modules/ar/data/*
modules/ar/modules/engines/*
modules/ar/modules/onnxs/*
modules/ar/modules/raws/*