.idea
__pycache__

# general
nturgbd_metrabs_2
*.mp4*
wandb

# modules hpe
modules/hpe/modules/engines/*
modules/hpe/modules/numpy/*
modules/hpe/modules/onnxs/*
modules/hpe/modules/raws/*
modules/hpe/modules/signatured/*
modules/hpe/assets/*

# ar
modules/ar/lstm/data/*
modules/ar/trx/modules/engines/*
modules/ar/trx/modules/onnxs/*
modules/ar/trx/modules/raws/*